.app {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 16px;
  box-sizing: border-box;
}

.app__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: var(--title-color, green);
  padding: 0 16px;
}

@media screen and (max-width: 1199px) {
  .app {
    padding: 0 8px;
  }
  .app__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .app__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  .app {
    padding: 0 4px;
  }
  .app__title {
    font-size: 24px;
  }
}
