@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: 
    url('./OpenSans-Regular.woff') format('woff'),
    url('./OpenSans-Regular.ttf') format('ttf')
  ;
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: 
    url('./OpenSans-Bold.woff') format('woff'),
    url('./OpenSans-Bold.ttf') format('ttf')
  ;
}