@import url('./fonts/fonts.css');

:root {
  --text-primary: #363636;
  --text-secondary: #fff;
  --title-color: #45852d;
  --label-accent-indie: #006f79;
  --label-accent-avail: #ec6608;
  --border-color: #d8d8d8;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
